.green
{
    border: 5px solid black;
}

.carousel-control-prev-icon {
    filter: invert(50%) sepia(100%) saturate(500%) hue-rotate(200deg);
}

.carousel-control-next-icon {
    filter: invert(50%) sepia(100%) saturate(500%) hue-rotate(200deg);
}

.gradient-box {
    background: linear-gradient(to bottom, #cccccc, #666666);
}

.cards-wrapper {
  display: flex;
  justify-content: center;
}
.card img {
  max-width: 100%;
  max-height: 100%;
}

.card {
  margin: 0 0.5em;
  box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
  border: none;
  border-radius: 0;
}
.carousel-inner {
  padding: 1em;
}

.carousel-control-prev,
.carousel-control-next {
  background-color: #e1e1e1;
  width: 5vh;
  height: 5vh;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}

#btn-back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  z-index: 100;
  border-radius: 10px;
  border-color: #666666;
}

header {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
}
